{% extends 'base.html' %}

{% block title %}All your notes{% endblock title %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/notes.css' %}">
{% endblock %}

{% block content %}
<div class="note-list">

    <div class="title-row">
    <h1>These are all your notes</h1>
    <a class="btn btn-primary" href="{% url 'notes_create' %}">Create New Note</a>
    </div>

    <div class="list">
        {% for note in note_list %}
            <div class="note">
                
                {% if note.image %} 
                <img src="{{ note.image.url }}">
                {% endif %}
            
                <h3>{{ note.title }}</h3>
                <label>{{ note.created_on }}</label>
            

                <div class="note-content">
                    <p>{{ note.content }}</p>
                    <a href="" class="btn btn-primary">View Note</a>
                    <a href="" class="btn btn-secondary">Edit Note</a>
                    <form action="" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete Note</button>
                    </form>
                </div>
            </div>
        {% empty %}
            <p>No notes available.</p>
        {% endfor %}
    </div>

</div>
{% endblock %}

