{% extends 'base.html' %}



{% block title %}About Me{% endblock %}

{% load static %}
{% block css %}         
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}



{% block content %}    
    <h3> About Me</h3>
    <h1>LaVonde Dunigan</h1>
    <p>Welcome to my personal page! I am a software developer with a passion for creating innovative solutions. This page is a brief introduction to who I am and what I do.</p>
    <p>Feel free to explore my work and connect with me!</p>
    <p>For more information, you can visit my <a href=https://github.com/lavondedunigan>GitHub</a> profile.</p>
    <p>Thank you for visiting!</p>
    
    <img src="{% static 'img/aboutme.jpg' %}" alt="LaVonde Dunigan" class="profile-image">
    <p class="signature">LaVonde Dunigan</p>
    <p class="signature">Software Developer</p>
    <p class="signature">Email: <a href="mailto:lavondedunigan@gmail.com">

    <footer class="text-center mt-5">
        <p>2025 Hospital Management System</p>
        <p>Developed by LaVonde Dunigan</p>
        <p>Contact: <a href="mailto:2037 Nowhere Drive, Atlanta, GA 30301">2037 Nowhere Drive, Atlanta, GA 30301</a></p>
        <p>Follow me on <a href="facebook.com/lavondedunigan">Facebook</a> and <a href="linkedin.com/in/lavondedunigan">LinkedIn</a></p
        <p>2025 Hospital Management System</p>
    </footer>   
    </a>


{% endblock %}




{% block js %}
<script src="{% static 'js/about.js' %}"></script>
{% endblock %}