{% extends 'base.html' %}


{% block title %}Contact{% endblock %}

{% load static %}
{% block css %}         


{% endblock %}  


{% block content %} 

   

<h1>Contact</h1>


<h3>Contact Us</h3>





<p>Welcome to the contact page of Have Mercy Hospital. If you have any questions, concerns, or feedback, please feel free to reach out to us.</p>
<p>For general inquiries, you can contact us at:</p>
<p>Email: <a href="mailto:justbecause@example.com">
Have Mercy Hospital</a></p>
<p>Phone: <a href="tel:+1234567890">+1 234 567 890</a></p>
<p>For specific departments or services, please refer to the following contacts:</p>
<p>Emergency Department: <a href="tel:+1234567890">+1 234 567 890</a></p>
<p>Patient Services: <a href="tel:+1234567890">+1 234 567 890</a></p>
<p>Thank you for reaching out to us. We value your input and will respond as soon as possible.</p>
<p>For more information, you can visit our <a href="https://www.havemercyhospital.com">official website</a>.</p>
<p>Thank you for visiting!</p>
<img src="{% static 'img/contact2.jpg' %}" alt="Contacts Image" class="contact-image">

{% endblock %}