{% extends 'base.html' %}


{% block title %} Doctors {% endblock %}

{% load static %}
{% block css %}         
<link rel="stylesheet" href="{% static 'css/doctors.css' %}">
{% endblock %}  


{% block content %}    

<h1>Our Doctors</h1>

<h3>Dedicated Medical Professionals</h3>
<p>Welcome to the doctors page of Have Mercy Hospital. Here you can find information about our medical staff, their specialties, and how to contact them.</p>
<p>For general inquiries, you can contact us at:</p>
<p>Email: <a href="mailto:giveback@example.com">
Have Mercy Hospital</a></p>
<p>Phone: <a href="tel:+1234567890">+1 234 567 890</a></p>
<p>For specific departments or services, please refer to the following contacts:</p>
<p>Emergency Department: <a href="tel:+1234567890">+1 234 567 890</a></p>
<p>Patient Services: <a href="tel:+1234567890">+1 234 567 890</a></p>
<p>Thank you for reaching out to us. We value your input and will respond as soon as possible.</p>
<p>For more information, you can visit our <a href="https://www.havemercyhospital.com">official website</a>.</p>
<p>Thank you for visiting!</p>
<img src="{% static 'img/doctor1.avif' %}" alt="Doctors Image" class="doctors-image">


{% endblock %}


