{% extends 'base.html' %}


{% block title %}Welcome{% endblock %}


{% load static %}

{% block css %}
{% endblock %}

{% block content %}

<h3> Have Mercy Hospital </h3>
<h5>We are here for everyone in need of care!</h5>

<p>Welcome to the Have Mercy Hospital Management System. This system is designed to help manage hospital operations efficiently and effectively.</p>
<p>For more information, you can visit our <a href="  havemercyhospital.com">official website</a>.</p>
<p>Thank you for visiting!</p>
<img src="{% static 'img/hospitalpic.jpg' %}" alt="Hospital Image" class="hospital-image">
<p class="signature">Have Mercy Hospital</p>
<p class="signature">Hospital Management System</p>
<p class="signature">Email: <a href="mailto:lavondedunigan@gmail.com">
Have Mercy Hospital</a></p>
<p class="signature">Phone: <a href="tel:+1234567890">+1 234 567 890</a></p>

{% if user.is_authenticated %}
    <p>Welcome back!</p>
{% else %}
    <p>Please <a href="{% url 'login' %}">log in</a> to access more features.</p>
{% endif %}

<p>For any inquiries or support, please contact us at <a href="mailto:amyaparker058@gmail.com">


{% endblock %}

