{% extends 'base.html' %}


{% block title %} Nurses {% endblock %}

{% load static %}
{% block css %}         
<link rel="stylesheet" href="{% static 'css/nurses.css' %}">
{% endblock %}



{% block content %}    

<h1>Nurses</h1>
<h3>Our dedicated nursing staff is here to provide compassionate care.</h3>
<p>Our nurses are the backbone of our healthcare team, providing essential care and support to our patients. They are trained professionals who work tirelessly to ensure the well-being of everyone in our hospital.</p>
<p>Whether it's administering medication, assisting with procedures, or simply being there for a comforting conversation, our nurses are committed to delivering the highest quality of care.</p>
<p>Thank you for your dedication and hard work!</p>

<img src="{% static 'img/nurses4.avif' %}" alt="Nurses" class="nurse-image">
<p class="signature">Nursing Team</p>
<p class="signature">Compassionate Caregivers</p>
<p class="signature">Email: <a href="mailto:lavondedunigan@gmail.com

{% endblock %}