{% extends 'base.html' %}


{% block title %} Patients {% endblock %}

{% load static %}
{% block css %}         
<link rel="stylesheet" href="{% static 'css/patients.css' %}">
{% endblock %}


{% block content %}    

<h1>Patients</h1>
<h3>Patient Management</h3>
<p>Welcome to the patients page of Have Mercy Hospital. Here you can find information about our patients, their medical records, and how to manage patient data.</p>
<p>For general inquiries, you can contact us at:</p>
<p>Email: <a href="mailto:loveourpatients@example.com">
<img src="{% static 'img/patient1.avif' %}" alt="Patient Image" class="patients-image">


   

{% endblock %}


