{% extends 'base.html' %}

{% block title %}Patient Balance{% endblock title %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/patient_balance.css' %}">
{% endblock %}

{% block content %}
<div class="note-list">


    <div class="header">
        <h2>Patient Balance</h2>
        <p>Here you can view and manage patient balances.</p>
        <a href="" class="btn btn-primary">Add New Note</a>
        <a href="" class="btn btn-secondary">Patient Account</a>
        <a href="" class="btn btn-success">Patient Balance</a>
        <a href="" class="btn btn-info">View Notes</a>
    </div>
   
<div class="patient-balance">
        <h2>Patient Id: 123456 Balance Summary</h2>
        <p>This is the patient balance</p>
        <p>$1100.00</p>
    </div>

    <div class="patient-balance">
        <h2>Patient Id:345823 Balance Summary</h2>
        <p>This is the patient balance</p>
        <p>$2,356.09</p>
    </div>

    <div class="patient-balance">
        <h2>Patient Id: 157463 Balance Summary</h2>
        <h4>This is the patient balance</h4>  
        <p>$230.78</p>
    </div>

      <div class="patient-balance">
        <h2>Patient Id: 25963 Balance Summary</h2>
        <h4>This is the patient balance</h4>  
        <p>$200.90</p>
    </div>
    <div class="patient-balance">
        <h2>Patient Id: 548712 Balance Summary</h2>
        <h4>This is the patient balance</h4>
        <p>$920.09</p>                  
    <div class="patient-balance">       
        <h2>Patient Id: 23571 Balance Summary</h2>
        <h4>This is the patient balance</h4>  
        <p>1300.56</p>
  <div class="patient-balance">
        <h2>Patient Id: 357459 Balance Summary</h2>
        <h4>This is the patient balance</h4>  
        <p>$400.00</p>
    </div>




    <div class="list">
        {% for note in note_list %}
            <div class="note">
                
                {% if note.image %} 
                <img src="{{ note.image.url }}">
                {% endif %}
            
                
                    <a href="" class="btn btn-primary">View Balance</a>
                    <a href="" class="btn btn-secondary">Edit Balance</a>
                    <form action="" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete Old Balance</button>
                    </form>
                </div>
            </div>
            <p>No notes available.</p>
            {% endfor %}
    </div>

</div>
{% endblock %}