{% extends 'base.html' %}

{% block title %}Patient Account{% endblock title %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/patient_account.css' %}">
{% endblock %}

{% block content %}
<div class="patient-account">

    <div class="list">
        {% for account in all_accounts %}
            <div class="account">
                <label class="hint">Patient name:</label>
                <h5>{{account.first_name}} {{account.last_name}}</h5>

                <label class="hint">DOB:</label>
                <p>{{account.date_of_birth}}</p>

                <label class="hint">Primary Dr.:</label>
                <label>{{account.primary_doctor}}</label>

                
            </div>
            {% endfor %}
    </div>

</div>
{% endblock %}