<!--
<nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Hospital Management</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>

                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'doctors' %}">Doctors</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'note_list' %}">Notes</a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link" href="{% url 'patients' %}">Patients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'nurses' %}">Nurses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
                <div class="d-flex ms-auto">
                    {% if user.is_authenticated %}
                        <span class="navbar-text me-3">Welcome</span>
                    {% else %}
                        <a class="btn btn-outline-dark" href="#">Logout</a>
                    {%  endif %}
                
              
            </div>
        </div>
    </nav>-->


<nav class="navbar navbar-expand-lg bg-body-tertiary"
style="color: whitesmoke !important;" >
  <div class="container-fluid">
    <div class="d-flex ms-auto">
                    {% if user.is_authenticated %}
                        <span class="navbar-text me-3" style="color: whitesmoke !important;">Welcome!</span>
                    {% else %}
                        <a class="btn btn-outline-dark" href="{% url 'logout'%}">Logout</a>
                    {%  endif %}      
    </div>
    <a class="navbar-brand" href="" style="color: whitesmoke !important;">Hospital Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="color: whitesmoke !important;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}" style="color: whitesmoke !important;">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'doctors' %}" style="color: whitesmoke !important;">Doctors</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'nurses' %}" style="color: whitesmoke !important;">Nurses</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'patients' %}"  style="color: whitesmoke !important;">Patients</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'note_list' %}" style="color: whitesmoke !important;">Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}" style="color: whitesmoke !important;">Contacts</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: whitesmoke !important;" >
            Dropdown link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'patient-account' %}" style="color: blue;">Patient Account</a></li>
            <li><a class="dropdown-item" href="{% url 'patient-balance' %}" style="color: blue;">Patient Balance</a></li>
            <li><a class="dropdown-item" href="{% url 'referrals' %}" style="color: blue;">Referrals</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
